<%-include('../../partials/header.ejs')-%>
<%-include('../../partials/navbar.ejs')%> 
<%-include('../../partials/sidebar.ejs')%> 



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>nominal</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href=",">Home</a></li>
              <li class="breadcrumb-item active"><a href="/nominal">nominal</a></li>
              <li class="breadcrumb-item active">Tambah Data</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- /.card-header -->
            <div class="card-body">
                <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Form ubah nominal  "<%= nominal.coinName%>"</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="/nominal/edit/<%= nominal._id %>?_method=PUT" method="post">
                      <div class="card-body">
                        <div class="form-group">
                          <label>Coin Name</label>
                          <select class="form-control select2" name="coinName" id="coinName">
                            <option value="Gold" <% if(nominal.coinName == "Gold") { %> selected <% } %> >Gold</option>
                            <option value="Diamond" <% if(nominal.coinName == "Diamond") { %> selected <% } %> >Diamond</option>
                            <option value="Jewel"  <% if(nominal.coinName == "Jewel") { %> selected <% } %> >Jewel</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="coinQuantity">Coin Quantity</label>
                          <input type="number" value="<%= nominal.coinQuantity%>" class="form-control" name="coinQuantity" id="coinQuantity" placeholder="Please Insert Coin Quantity">
                        </div>
                        <div class="form-group">
                          <label for="price">Coin Price</label>
                          <input type="number" value="<%= nominal.price%>" class="form-control" name="price" id="price" placeholder="Please Insert Coin Price">
                        </div>
                      </div>
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
              </div>
              <!-- /.card-body -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('../../partials/footer') -%>
<%- include('../../partials/js') -%>
